
body {
    nav {
        border: 2px solid #ccc;

        ul {
            @include clearfix;
            list-style: none;

            li {
                float: left;
                text-align: center;

                &:not(:last-child) {
                    border-right: 2px solid crimson;
                }

                a {
                    display: inline-block;
                    background: lightskyblue;
                    text-decoration: none;
                    padding: .5rem 2rem;
                    width: 200px;

                    &:hover {
                        background: deepskyblue;
                    }
                }
            }
        }
    }

    main {
        footer {
        }
    }
}
