
body {
    nav {
        ul {
            list-style: none;

            li {
                a {
                    text-decoration: none;

                    &:hover {
                        background-color: orangered;
                    }
                }

            }
        }
    }

    main {
        footer {
        }
    }
}
