
body {
    nav {
        //bg-white border-b border-gray-100
        border: 2px solid var(--border);
        background: var(--color);

        ul {
            @include clearfix;
            list-style: none;

            li {
                float: left;
                text-align: center;

                &:not(:last-child) {
                }

                a {
                    color: var(--font-color);
                    display: inline-block;
                    text-decoration: none;
                    padding: .5rem 2rem;
                    width: 200px;

                    &:hover {
                        background: var(--hover);
                    }
                }
            }
        }
    }

    main {
        table {
            width: 50%;
            margin: 0 auto;
            border-collapse: collapse;

            tr {
            }

            th, td {
                border: 1px solid var(--border);
                padding: .5rem 1rem;

            }

            thead {
                th {
                    background-color: var(--th);
                }
            }

            tbody {
                td {
                    background-color: var(--td);
                }

            }

            tfoot {
            }
        }

        footer {
        }
    }
}
