.accounts {
    .account {
        table {
            width: 60rem;

        }

        padding: 1rem .5rem 3rem .5rem;

        &:not(:last-of-type) {
            border-bottom: 2px solid #222222;

        }

        &:nth-child(odd) {
            background-color: #cfcfcf;
        }

        &:nth-child(even) {
            background-color: #ececec;
        }
    }

}