:root {
    --primary: skyblue;
    --neutral: #fff;
    --border: #444;
    --font-color: #333;
}

nav {
    --color: var(--primary);
    --hover: deepskyblue;
}

table {
    --th: #acacac;
    --td: #f8f8f8;
}
