:root {
    --neutral: #fff;
    --border: #444;
    --font-color: #333;

    --primary: #3498db;

    --secondary: #2ecc71;

    --active: lightgreen;
    --active-text: #2a720e;

    --brighten: 120%;
}

nav {
    --color: var(--primary);
    --hover: deepskyblue;
}

table {
    --th: #acacac;
    --td: #f8f8f8;
}
